.embed-container {
  position: relative;
  margin-left: 100px; 
  padding-bottom: 2%;
  height: 0;
  overflow: visible;
  width: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}



@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");



.card1 {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  transition: 0.4s;
}
.card1__caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
}
.card1__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}
.card1__type {
  position: absolute;
  top: 0;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
}
.card1__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}
.card1__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card1__stats {
  margin: 1em 0;
  width: 100%;
}
.card1__stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
}
.card1__stats th, .card1__stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}
.card1__abilities {
  display: flex;
  justify-content: space-between;
}
.card1__ability {
  margin-top: 1em;
  flex: 1 0;
}
.card1--normal {
  background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card1--normal .card1__type {
  background-color: #C08A53;
}
.card1--water {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
  box-shadow: 0px 5px 20px -10px #000851;
}
.card1--water .card1__type {
  background-color: #1CB5E0;
}
.card1--electric {
  background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
}
.card1--electric .card1__type {
  background-color: #000;
}
.card1--fire {
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}
.card--fire .card__type {
  background-color: #c71800;
}
.card1--psychic {
  background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}
.card1--psychic .card__type {
  background: #ff2cc3;
}
.card1--dark {
  background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}
.card1--dark .card1__type {
  background: #5c0249;
}
.card1--grass {
  background: linear-gradient(140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%);
}
.card1--grass .card1__type {
  background: #6e7f0e;
}
.card1--ice {
  background: linear-gradient(230deg, #caeaf6 0%, #a0eaf1 46%, #6fb8eb 100%);
}
.card1--ice .card1__type {
  background: #6fb8eb;
}
.card1--fairy {
  background: linear-gradient(45deg, #ffe6f0 0%, #ffc5e0 34%, #ffa6b9 71%, #ff8a95 100%);
}
.card--fairy .card1__type {
  background: #ff8a95;
}
.card1:nth-child(1) {
  -webkit-transform: translateY(0px) rotate(-4deg);
          transform: translateY(0px) rotate(-4deg);
}
.card1:nth-child(2) {
  -webkit-transform: translateY(0px) rotate(-5deg);
          transform: translateY(0px) rotate(-5deg);
}
.card1:nth-child(3) {
  -webkit-transform: translateY(0px) rotate(-2deg);
          transform: translateY(0px) rotate(-2deg);
}
.card1:nth-child(4) {
  -webkit-transform: translateY(0px) rotate(-4deg);
          transform: translateY(0px) rotate(-4deg);
}
.card1:nth-child(5) {
  -webkit-transform: translateY(0px) rotate(2deg);
          transform: translateY(0px) rotate(2deg);
}
.card1:nth-child(6) {
  -webkit-transform: translateY(0px) rotate(1deg);
          transform: translateY(0px) rotate(1deg);
}
.card1:nth-child(7) {
  -webkit-transform: translateY(0px) rotate(3deg);
          transform: translateY(0px) rotate(3deg);
}
.card1:nth-child(8) {
  -webkit-transform: translateY(0px) rotate(2deg);
          transform: translateY(0px) rotate(2deg);
}
.card1:nth-child(9) {
  -webkit-transform: translateY(0px) rotate(3deg);
          transform: translateY(0px) rotate(3deg);
}
.card1:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}



span {

  margin-left:20px;
}


